{% extends 'base.html.twig' %}

{% block title %}New Notification{% endblock %}

{% block body %}
    <h1>Envoyer une nouvelle Notification</h1>

    {{ include('notification/_form.html.twig') }}

    <a href="{{ path('app_notification_index') }}
{% endblock %}
