{% extends 'base.html.twig' %}

{% block title %}New Autorisation{% endblock %}

{% block body %}
    <h1>Demander une nouvelle Autorisation</h1>

    {{ include('demande_aurorisation/_form.html.twig') }}

    <a href="{{ path('app_demande_aurorisation_index') }}
{% endblock %}
