{% extends 'base.html.twig' %}

{% block title %}Autorisation{% endblock %}

{% block body %}
    <h1>Autorisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td><span class="fw-normal">{{ autorisation.id }}</span></td>
            </tr>
            <tr>
                <th>Date</th>
                <td><span class="fw-normal">{{ autorisation.date ? autorisation.date|date('Y-m-d') : '' }}</span></td>
            </tr>
            <tr>
                <th>Status</th>
                {% if autorisation.status is same as(1) %}
                    <td><span class="fw-normal">En Attente</span></td>
                {% endif %}
                {% if autorisation.status is same as(2) %}
                    <td><span class="fw-normal text-success">Autoriser</span></td>
                {% endif %}
                {% if autorisation.status is same as(3) %}
                    <td><span class="fw-normal text-danger">Refuser</span></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_autorisation_index') }}

    <a href="{{ path('app_autorisation_edit', {'id': autorisation.id}) }}"><button class="btn btn-danger me-2">edit</button></a>

{% endblock %}
